<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>561745944632-2eff7sdodf5hv2qd8qr441a5aiu17f2q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.561745944632-2eff7sdodf5hv2qd8qr441a5aiu17f2q</string>
	<key>API_KEY</key>
	<string>AIzaSyAOJ-ks4fXOFi6eaQnaiZtmGrMei8TAkBs</string>
	<key>GCM_SENDER_ID</key>
	<string>561745944632</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.buildit.hireit</string>
	<key>PROJECT_ID</key>
	<string>hireit-cd86c</string>
	<key>STORAGE_BUCKET</key>
	<string>hireit-cd86c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:561745944632:ios:b6e6e25c140da2cf</string>
	<key>DATABASE_URL</key>
	<string>https://hireit-cd86c.firebaseio.com</string>
</dict>
</plist>